// 
// Spacing
// 

$navbar-height: 4.5rem;

$spacing-md-sm: 10px;

@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .btn, .card, .alert, .form-control {
    margin: $spacer * .5;
    padding: $spacer * .5;
  } 
}


